<?xml version="1.0"?>
<config>
    <modules>
        <Helmade_BasicModel>
            <version>0.0.2</version>
        </Helmade_BasicModel>
    </modules>
    <global>
        <resources>
            <helmade_basicmodel_setup>
                <setup>
                    <module>Helmade_BasicModel</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </helmade_basicmodel_setup>
        </resources>
        <models>
            <basicmodel>
                <class>Helmade_BasicModel_Model</class>
            </basicmodel>
        </models>
        <blocks>
            <basicmodel>
                <class>Helmade_BasicModel_Block</class>
            </basicmodel>
        </blocks>
        <helpers>
            <basicmodel>
                <class>Helmade_BasicModel_Helper</class>
            </basicmodel>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <mymodule>
                    <file>basicmodels.xml</file>
                </mymodule>
            </updates>
        </layout>
    </frontend>
</config>